input {
    padding: 0.9%;
    border: none;
}

form {
    padding: 4rem;
    width: 40%;
    margin: auto;
    background: rgba(99,34,99,.849);
    color: white;
    padding: 1%;
}

.send {
    margin-left: 40%;
    border: none;
    padding: 2%;
}