input {
    margin-left: 24%;
    padding: 0.9%;
    border: none;
}

form {
    margin-top: 10%;
    margin-left: 35%;
    padding: 4rem;
    background-color: rgba(99, 34, 99, 0.671);
    width: 30%;
    
}

.send {
    margin-left: 40%;
    border: none;
    padding: 2%;
}