#pet_card {
    margin: auto;
    border: thin solid black;
}

#searchPage {
    display: flex;
    margin: 1%;
    align-content: center;
    
}

#vote img {
    margin: 0 15%;
}

#pet_display {
    width: 40%;
    margin: auto;
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#searchForm {
    width: 100%;
    margin: auto;
    display: none;
}

.facet {
    margin: auto;
    display: flex;
}

.dropDownButton {
    display: flex;
}

.form_section span {
    text-align: right;
    border-bottom: thin solid black;
    font-size: 1.5em;
}

.facet div:first-child {
    text-align: right;
    width: 60%;
    margin-right: 2%;
}

.facet div:last-child {
    text-align: left;
    width: 40%;
    margin-left: 2%;
}
/* individual cards */
.card {
    background-color: white;
    font-family: "Muli", sans-serif;
    margin: 0 auto;
    max-width: 320px;
    text-align: center;
    border: double medium #af9fa5;
    border-radius: 15px;
    box-shadow: 10px 10px 5px 0px #af9fa5;
  }
  
  .name {
    font-family: "Raleway", sans-serif;
    text-shadow: 4px 4px 4px #af9fa5;
    text-align: center;
    padding-top: 10px;
  }
  
  .picture {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  img .card{
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px #af9fa5;
    width: 290px;
    height: 200px;
  }
  
  #info {
    border: solid thin #af9fa5;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
  }
  
  .angle-text {
    font-style: italic;
  }
  