body {
  padding-top: 5rem;
  /*background-color:  rgba(99, 34, 99, 0.849);*/
  margin-left: auto;
  margin-right: auto;
  font-family: "Muli", sans-serif;
  /*color:rgba(99, 34, 99, 0.849);*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


