#pet_card {
    margin: auto;
    border: thin solid black;
}

#searchPage {
    display: flex;
    margin: 1%;
    align-content: center;
    
}

#vote img {
    margin: 0 15%;
}

#pet_display {
    width: 40%;
    margin: auto;
}

.flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#searchForm {
    width: 100%;
    margin: auto;
    display: none;
}

.facet {
    margin: auto;
    display: flex;
}

.dropDownButton {
    display: flex;
}

.form_section span {
    text-align: right;
    border-bottom: thin solid black;
    font-size: 1.5em;
}

.facet div:first-child {
    text-align: right;
    width: 60%;
    margin-right: 2%;
}

.facet div:last-child {
    text-align: left;
    width: 40%;
    margin-left: 2%;
}

.modalBox {
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.formspreeForm{
    position: relative;
    top: 15rem;
    left: 35rem;
    background-color: rgba(99, 34, 99, 0.849);
    padding: 1rem;
}

.nameInput {
    display: block;
   width: 100%;
}

.emailInput {
    display: block;
    width: 100%;
}

.foundMatch {
    display: block;
    width: 30rem;
    height: 20rem;
    max-height: 20rem;
    max-width: 30rem;
}

.formButtons{
    padding: 1rem;
    width: 50%;
}